<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<!--left-fixed -navigation-->
			<aside class="sidebar-left">
		  <nav class="navbar navbar-inverse">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<h1><a class="navbar-brand" href="/dashboard"><span class="fa fa-truck"></span> FREIGHTLUX<span class="dashboard_text">Convenience Over Value</span></a></h1>
			  </div>                                                                                                                   
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="sidebar-menu">
				  <li class="header">MAIN NAVIGATION</li>
				  <li class="treeview">
					<a href="/dashboard">
					<i class="fa fa-building"></i> <span>Companies</span>
					</a>
				  </li>
				  <li class="treeview">
					<a href="/invoice">
					<i class="fa fa-book"></i>
					<span>Invoice</span>
				
					</a>
				  </li>
				  <li class="treeview">
				  <li class="treeview">
					<a href="#">
					<i class="fa fa-laptop"></i>
					<span>UI Elements</span>
					<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li><a href="#"><i class="fa fa-angle-right"></i> General</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Icons</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Buttons</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Typography</a></li>
					</ul>
				  </li>
				  <li>
					<a href="#">
					<i class="fa fa-laptop"></i> <span>Link</span>
					</a>
				  </li>
				  <li class="treeview">
					<a href="#">
					<i class="fa fa-laptop"></i> <span>Link</span>
					<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					  <li><a href="validation.html"><i class="fa fa-angle-right"></i> Link</a></li>
					</ul>
				  </li>
				  <li class="treeview">
					<a href="#">
					<i class="fa fa-laptop"></i> <span>Link</span>
					<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="fa fa-laptop">
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					</ul>
				  </li>
				
				  <li class="treeview">
					<a href="#">
					<i class="fa fa-laptop"></i> <span>Link</span>
					<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					  <li><a href="#"><i class="fa fa-angle-right"></i> Link</a></li>
					</ul>
				  </li>
				  <li class="header">Link</li>
				  <li><a href="#"><i class="fa fa-angle-right text-red"></i> <span>Link</span></a></li>
				  <li><a href="#"><i class="fa fa-angle-right text-yellow"></i> <span>Link</span></a></li>
				  <li><a href="#"><i class="fa fa-angle-right text-aqua"></i> <span>Link</span></a></li>
				</ul>
			  </div>
			  <!-- /.navbar-collapse -->
		  </nav>
		</aside>
		</div>
		<!--left-fixed -navigation-->