	<!-- main content start-->
		<div id="page-wrapper">
			
		
		
		<div class="grid_3 grid_4 ">
			<h3 class="page-header icon-subheading">Clients</h3>
			<div class="bs-glyphicons"> 
				<ul class="bs-glyphicons-list"> 
					 <li> <a href = "/registration"><span class="glyphicon glyphicon-plus" aria-hidden="true"></a>
						 <span class="glyphicon-class">Add Company</span> 
					 </li> 
					 {{#each companies}}
						 <li>  
							 <a href = '/company-info/{{this._id}}'>
								 <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 
									 <span class="glyphicon-class">{{this.companyName}}</span> 
							 </a>		 
						 </li>
					 {{/each}}
				</ul> 
			</div>
			<div class="clearfix"></div>
	    </div>
				
	
	<!-- for amcharts js -->
			<script src="js/amcharts.js"></script>
			<script src="js/serial.js"></script>
			<script src="js/export.min.js"></script>
			<link rel="stylesheet" href="css/export.css" type="text/css" media="all" />
			<script src="js/light.js"></script>
	<!-- for amcharts js -->
			</div>
		</div>